html,body{
    margin: 0;
    padding:0;
    font-size:10px;
}
p{
    margin: 0;
    padding: 0;
}

.clearfix:after{
    content: '';
    display: table;
    clear:both;
}
div.container{
    font-size: 1.6rem;
    width: 80rem;
    margin: 10rem auto;
}
div.newTask input{
    display: inline-block;
    width: 80rem;
    height:4rem;
}
div.container span{
    display: inline-block;
    width:10rem;
}
div.container .content{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 30rem;
    vertical-align: bottom;
}
div.container .todos>li{
    vertical-align: bottom;
    margin-left: -1.6rem;
    position: relative;
    margin-top:1rem;
}
div.container .todos>li input{
    display: inline-block;
}
div.container .todos>li input:checked~span{
    color:gray;
}
div.container .todos>li input:checked+span:before{
    content:'';
    width:82rem;
    position: absolute;
    border-top:2px solid gray;
    top: 50%;
    bottom:50%;
    left:-3rem;
}
div.container .todos>li .time{
    display: inline-block;
    width: 30rem;
}
div.container button{
    display: inline-block;
    width:2rem;
    height:2rem;
    padding: 0;
    float: right;
    text-align: center;
}
[v-cloak] {
    display: none;
}