<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>待办事项表</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div id="app">
      <section id="signInAndSignUp" class="signIn-SignUp" v-if="!currentUser">
        <div class="bar clearfix">
          <label for="signUp">注册</label>
          <input type="radio" name="type" v-model="actionType"  id="signUp"value="signUp">
          <label for="login">登录</label>
          <input type="radio" name="type"  v-model="actionType" id="login" value="login">
        </div>
        <div class="signUp" v-if="actionType=='signUp'">
          <form @submit.prevent="signUp">
            <div class="formRow">
              <input type="text" v-model="formData.username" placeholder="请输入用户名...">
            </div>
            <div class="formRow">
              <input type="password" v-model="formData.password" placeholder="请输入密码...">
            </div>
            <p>欢迎注册~~~</p>
            <div class="formActions" >
              <input type="submit" value="注册">
            </div>
          </form>
        </div>
        <div class="login" v-if="actionType === 'login'">
          <form @submit.prevent="login">
            <div class="formRow">
              <input type="text" v-model="formData.username" placeholder="请输入用户名...">
            </div>
            <div class="formRow">
              <input type="password" v-model="formData.password" placeholder="请输入密码...">
            </div>
            <p>欢迎登录~~~</p>
            <div class="formActions">
              <input type="submit" value="登入">
            </div>
          </form>
        </div>
      </section>

      <header v-if="currentUser" class="clearfix">
        <span>用户：{{msg}}</span>
        <button @click="logout" class="logout btn btn-primary">登出</button>
      </header>
      <section id="todo" v-if="currentUser"  class="container">
        <div class="newTask">
          <textarea  v-model="newTodo"></textarea>
          <button @click="addTodo" class="btn btn-info">输入</button>
        </div>
        <ol class="todos">
          <li v-cloak v-for="todo in todoList" class="row">
            <span  v-model="todo.done" @click="finish(todo)" class="col-md-1 complete" v-if="todo.done">已完成</span>
            <span   v-model="todo.done" @click="finish(todo)" class="col-md-1 unfinished" v-else>未完成</span>

            <span class="content col-md-7" style="white-space: pre-line">{{ todo.title }}</span>

            <span class="time col-md-3">创建时间：{{todo.createdAt}}</span>
            <button @click="removeTodo(todo)" class="btn btn-danger col-md-1">删除</button>
          </li>
        </ol>
      </section>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>